/* Fonts */

@font-face {
    font-family: Segoe UI;
    src: url(../Fonts/Segoe\ UI.woff) format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Segoe UI;
    src: url(../Fonts/Segoe\ UI\ Bold.woff) format("woff");
    font-style:normal;
    font-weight: bold;
}
@font-face {
    font-family: Segoe UI;
    src: url(../Fonts/Segoe\ UI\ Italic.woff) format("woff");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: Segoe UI;
    src: url(../Fonts/Segoe\ UI\ Bold\ Italic.woff) format("woff");
    font-style: italic;
    font-weight: bold;
}

/* Fonts */

/* Hero Section Start*/

/* .hero{
    background-image: url("../static/hero_bg.png");
}

.hero{
    padding: 5px 5em 0 5em;
    height: 100vh;
    background-image: url("../static/hero_bg.png");
    background-image: url("../static/hero_bg.png"), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(230, 57, 57, 0.37), rgba(255, 255, 255, 0));
    background-size: cover;
    background-repeat: no-repeat;
} */

/* .hero .content{
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: start;
    justify-items: start;
} */

/* .hero .content h2{
    font-weight: 400;
    font-size: 2.5vw;
    color: #5E5E5E;
}

.hero .content h1{
    font-weight: 500;
    font-size: 3.5vw;
    color: #5E5E5E;
    padding: 1% 0 3%;
}

.hero .content p{
    font-weight: 400;
    font-size: 100%;
    color: #5E5E5E;
}

button.primary{
    margin-top: 5%;
    background-color: #C15690;
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 28px;
    padding: 1.5vh 2.5vw;
} */

/* Hero Section End */

*{
    position: relative;
}

/* Hero Section Starts */

.hero {
    margin: -44vh 0 -1vh 0;
    position: inherit;
}

.hero .swiper{
    width: 100vw;
    height: fit-content;
    position: relative;
}

.hero .slider .swiper-slide img{
    width: 100vw;
    position: relative;
    z-index: 1;
}

.hero .slider .swiper-slide .text{
    position: relative;
    z-index: 2;
    top: 70vh;
    padding: 0 0 0 8vw;
}

.hero .slider .swiper-slide .text h2{
    font-weight: 400;
    font-size: 2.5vw;
    color: #5E5E5E;
}

.hero .slider .swiper-slide .text h1{
    font-weight: 500;
    font-size: 4vw;
    color: #5E5E5E;
    padding: 1% 0 1%;
}

.hero .slider .swiper-slide .text p{
    font-weight: 400;
    font-size: 125%;
    color: #5E5E5E;
}

.hero .slider .swiper-slide .text button.primary{
    margin-top: 3%;
    background-color: #C15690;
    color: white;
    font-size: 100%;
    font-weight: bold;
    border-style: none;
    border-radius: 28px;
    padding: 1.5vh 2.5vw;
    cursor: pointer;
    transition: all 0.3s;
}

.hero .slider .swiper-slide .text button.primary:hover{
    font-size: 110%;
}

.hero .swiper .swiper-button-prev, .swiper .swiper-button-next{
    padding: 0 1.5vw;
    color: #707070;
    margin-top: 10vh;
    height: 5px;
    
}

/* Hero Section Ends */

/* ===== Re-usable part ===== */

.section_name{
    font-weight: 400;
    font-size: 100%;
    color: #5E5E5E;
    padding-bottom: 1%;

}

.section_heading{
    font-size: 3.5vw;
    font-weight: 400;
    color: #279089;
    padding-bottom: 4%;
}

p.big_text {
    font-size: 26px;
    font-weight: 300;
}

p.medium_text{
    font-size: 22px;
    font-weight: 400;
}

p.small_text{
    font-size: 16px;
    font-weight: 300;
}

/* ===== Re-usable part ===== */

/* About Section Start */

.about_us{
    padding: 5% 10em 5% 10em;
    height: min-content;
    background-color: #F2FBFE;
    z-index: 1;
    position: inherit;
}

.about_us > div{
    display: flex;
    gap: 4rem;
    align-items: left;
}


.about_us > div > .left{
    width: min-content;
}

.about_us > div > .right{
    width: fit-content;
}

.about_us .container{
    position: relative;
    background: white;
    padding: 2em;
    width: 20rem;
    /* height: fit-content; */
    margin-left: -20px;
    margin-top: -200px;
    z-index: 2;
    box-shadow: 10px 10px 20px 0px rgba(201, 201, 201, 0.50);
}

.about_us .container .medium_text{
    color: #90278E;
}

.about_us .container .small_text{
    font-size: 14px;
}

.about_us .link{
    margin-top: -1rem;
    float: right;
}

.about_us p.medium_text{
    font-size: 22px;
    font-weight: 400;
    padding: 0.2rem 0 0.4rem;
}


.about_points{
    display: flex;
    padding-top: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
}

.about_points > div{
    width: 48%;
}


/* ===== Resoinsive - About__us ===== */

@media(max-width: 32em){

    .about_us{
        padding: 5% 2em 5% 2em;
    }

    .about_us > div{
        flex-direction: column;
        align-items: center;
    }

    .about_us > div > .left img{
        width: 90vw;
        height: 75vh;
    }

    .about_us .container{
        display: none;
    }


}

/* ===== Resoinsive - About__us ===== */

/* About Section End */

/* Why Section Start */

.why_back{
    color: white;
    height: fit-content;
    /* padding: 0 0 0 2em; */
    /* position: relative; */
    background: url(../static/index/why/learning-science.png) center / Cover;
    display: flex;
    height: 100vh;
    /* display: inline-block; */
    position: fixed;
    top: 0px;
    z-index: -1;
}

.why_back .wrapper{
    background-color: rgba(26, 109, 103, 0.5);
    /* padding: 0 0 0 -2em; */
}

.why_back .left{
    position: sticky;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(0%, 30%);
    width: 35%;
    padding-left: 10%;
}

.why_back .left p.big_text{
    padding: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: capitalize;
} 

.why_back .left p.small_text{
    color: white;
}

.why_back .right{
    width: 75%;
    visibility: hidden;
}

/*  */

.why{
    color: white;
    height: fit-content;
    padding: 0 0 0 2em;
    position: relative;
    /* background: url(../static/index/why/learning-science.png) center / Cover; */
    display: flex;
    /* display: inline-block; */
    z-index: 1;
    background: linear-gradient(rgba(4, 45, 42, 1), rgba(4, 45, 42, 0.1),rgba(4, 45, 42, 0.05),rgba(4, 45, 42, 0), rgba(4, 45, 42, 0.05),rgba(4, 45, 42, 0.1),rgba(4, 45, 42, 1));
}

/* .why .wrapper{
    background: linear-gradient(90deg ,rgba(4, 45, 42, 1), rgba(4, 45, 42, 1), rgba(4, 45, 42, 1));
} */

.why .left{
    position: sticky;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(0%, 30%);
    width: 35%;
    padding-left: 10%;
    visibility: hidden;
}

.why .left p.big_text{
    padding: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: capitalize;
} 

.why .left p.small_text{
    color: white;
} 

.why .right{
    width: 65%;
    padding-left: 2%;
    padding-right: 7vw;
    padding-top: 50px;
    background: rgba(3, 36, 34, 0.75);
}

div.why div.right hr{
    border: none;
    border-top: 2px solid #fff;
    /* color: #333; */
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

/* .why .right hr{
    color: white;
    border-color: white;
} */

.why .ritght table.why_data  td.icon{
    width: min-content;
}

.why .right .count{
    font-weight: 900;
    font-size: 50px;
    padding-bottom: 20px;
}

/* .why .right .count hr{
    border-width: 1px;
    border-color: gray;
    height: 2px;
    color: gray;
    margin-bottom: 10px;
} */

.why .right .big_text{
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 10px;
}

.why .right .small_text{
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 30px;
}

/* .why .right div.sec1 table.why_data .main_img img{
    width: 90%;
} */

.why .right div.sec1{
    display: flex;
    padding-left: 2vw;
}

.why .right div.sec1 div.ri{
    width: 80%;
    height: fit-content;
    /* padding-left: 5vw; */
    /* padding-right: 5vw; */
}

.why .right div.sec1 img.side_img{
    width: 75%;
    height: 80%;
    /* padding-right: 2vw; */
}



.why .right div.sec1 .container{
    position: relative;
    background: white;
    padding: 2em;
    width: 75%;
    margin-left: -2vw;
    margin-top: -25vh;
    z-index: 2;
    box-shadow: 10px 10px 20px 0px rgba(201, 201, 201, 0.50);
}

.why .right div.sec1 .container .medium_text{
    color: #90278E;
    padding-bottom: 10px;
}

.why .right div.sec1 .container .small_text{
    font-size: 14px;
    color: #3E3E3E;
    padding: 0;
}

.why .right div.sec1 table.why_data{
    margin-left: -80px;
}

.why .right div.sec1 table.why_data tr td.icon{
    width: 100px;
}

.why .right div.sec1 table.why_data tr{
    height: 80px;
}

.why .right div.sec1 table.why_data .content{
    height: 80px;
    margin-bottom: 10px;
}

.why .right div.sec1 table.why_data .content .data .medium_text{
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 15px;
}

.why .right div.sec1 table.why_data .content .data .small_text{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 0;
}

.why .right .sec2 div{
    display: flex;
    justify-content: space-between;
    padding-right: 8vw;
}

/* .why .right .sec2 div.text p.big_text{
    font-size: 50px;
    font-weight: 400;
    padding: 0;
}

.why .right .sec2 div.content{
    margin-bottom: 10px;
} */

.why .right .sec2 img{
    padding-right: 20px;
}

.why .right .sec2 table .medium_text{
    font-size: 50px;
    font-weight: 600;
    color: #1FA89F;
    margin-top: -20px;
    letter-spacing: 1px;
    /* padding-bottom: 5px; */
}

.why .right .sec2 table .small_text{
    font-size: 16px;
    color: white;
    padding-bottom: 0;
}


/* Why Section End */

/* Products Section Start */

.products{
    padding: 5% 8em 5% 8em;
    background-color: #F2FBFE;
}

.cards{
    padding-top: 1%;
    display: flex;
    justify-content: space-between;

    /* margin: 10px; */
}

.cards .card1, .cards .card2, .cards .card3{
    padding-left: 2%;
    padding-top: 2.5%;
    color: white;
    width: 33%;
    height: 37.5vh;

}

.cards .card1 .name, .cards .card2 .name, .cards .card3 .name{
    padding: 2% 0 2% 0;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: capitalize;
    
}

.cards .card1 .p, .cards .card2 .p, .cards .card3 .p{
    font-size: 14px;
}

.cards .card1{
    background-color: #FB714C;
}

.cards .card2{
    background-color: #079AC6;
}

.cards .card3{
    background-color: #3E4C69;
}

/* .cards .card3 img{
    height: 50%;
} */

.products .cards img{
    padding-right: 0;
    width: 12vw;
}

.banner{
    margin-top: 1%;
}

.products .banner img{
    width: 80vw;
}


/* Product Section End  */

/* Partners Section Start */

.partners{
    display: flex;
    justify-content: space-between;
    padding: 4vh 5vw 4vh;
    background-color: white;
}

.partners img{
    width: 12vw;
}

/* Partners Section End0 */

/* Hope section Start */

.hope{
    background: url(../static/index/Hope/daily-pills-health-treatment-with-copy-space.png) center / cover;
    height: 45vh;
    padding: 1% 10em 0 10em;
    display: flex;
    justify-content: space-between;
    justify-items: right;
    color: white;
}

.hope .space{
    width: 90vw;
}

.hope .left{
    padding-left: 30vw;
}

.hope .left .big_text{
    padding: 0;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    justify-content: flex-end;
    justify-items: left;
}

.hope .left .small_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.hope .right .big_text{
    padding: 0;
    font-size: 45px;
    font-weight: 600;
    color: #EBFFF9;
}

.hope .right .medium_text{
    color: #005D38;
}

.hope .right .small_text{
    color: #000000;
}

.hope .right .small_text{
    width: 40vw;
}

/* Hope section End */

/* /Covid Section Start */

.covid{
    height: min-content;
    background-color: #EBF8F2;
    display: flex;
    padding: 0%;
}

.covid .img img{
    width: 25vw;
    height: 44vh;
}

.covid .data{
    padding: 25px;
    width: 30vw;
}

.covid .data p.medium_text{
    color: #279089;
    font-size: 35px;
    padding-bottom: 10px;
}

.covid .cards{
    padding: 25px;
}

.covid .cards .card{
    background-color: white;
    height: 10vh;
    width: 25vw;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 8px 15px 0px rgba(201, 201, 201, 0.40);
}

.covid .cards .card img{
    width: 14%;
    height: 7vh;
    margin: 0 10px;
    border-radius: 2px;
}

/* /Covid Section End */

/* Careers Section Start */

.careers{
    padding: 5% 15em 5% 15em;
    background-color: #F0FEFF;
}

.careers .section_name{
    color: #279089;
    font-size: 20px;
    margin-top: -10vh;
}

.careers button.primary{
    margin-top: 10vh;
    /* cursor: pointer; */
    /* margin-top: 3%; */
    background-color: #C15690;
    color: white;
    font-size: 100%;
    font-weight: bold;
    border-style: none;
    border-radius: 28px;
    padding: 1.5vh 2.5vw;
    cursor: pointer;
}

.careers .job td.data{
    padding-left: 2%;
    /* padding-right: 5em; */
    width: 50%;
}

.careers .job td.data p.small_text{
    font-size: 14px;
    font-weight: 200;
}

.careers .job td.data .section_heading{
    font-size: 40px;
}

.careers .job td.img img{
    /* width: 25vw; */
    height: 50vh;
    /* margin-left: 10vw; */
}

.careers .container{
    position: relative;
    background: white;
    padding: 2em;
    width: 60%;
    margin-left: 15vw;
    margin-top: -16vh;
    z-index: 2;
    box-shadow: 10px 10px 20px 0px rgba(201, 201, 201, 0.50);
}

.careers .container .medium_text{
    color: #90278E;
    padding-bottom: 10px;
}

.careers .container .small_text{
    font-size: 14px;
}

/* Careers Section End */

/* Contact Section Start */

.contact{

    display: flex;
    justify-content: start;
    background: url(../static/index/Contact/pharmacist-helping-woman-medicine-choice.png) center / cover;
    color: white;
    width: 100%;
    
}

.contact .overlay{
    background: rgba(78, 24, 77, 0.4);
    padding: 5% 15em 5% 15em;
}

.contact .table table .feild{
    width: 100%;
    margin-top: 10px;
    padding-left: 2.5%;
    height: 40px;
    font-weight: 300;
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 2.5px;
}

.contact .table table .feild2{
    width: 49%;
    margin-top: 10px;
    padding-left: 2.5%;
    padding-right: 3%;
    height: 40px;
    font-weight: 300;
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 2.5px;
}

.contact .table table .feild3{
    width: 100%;
    margin-top: 10px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    /* height: 40px; */
    font-weight: 300;
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 2.5px;
}

/* .contact .form{
    width: 50%;
    margin: 0;
}
.contact .info{
    width: 50%;
    margin-left: 50%;
    transform: translatey(-100%);
} */

.contact .overlay .table .big_text{
    padding: 0;
    font-weight: 500;
    font-size: 30px;
}

.contact .overlay .table .pad .big_text,
.contact .overlay .table .pad .small_text{
    padding-left: 50px;
}

.form_btn{
    margin-top: 5%;
    background-color: #90278E;
    color: white;
    font-weight: 500;
    border-style: none;
    border-radius: 28px;
    padding: 1.7vh 3vw;
    cursor: pointer;
}

/* Contact Section End */






/* 768px -- tablets*/
@media(max-width: 48em){







}






/* 512px -- mobile*/
@media(max-width: 32em){

    .hero {
        margin: -20vh 0 -1vh 0;
        position: inherit;
    }
    
    .hero .slider .swiper-slide .text{
        position: relative;
        z-index: 2;
        top: 32vh;
        padding: 0 0 0 8vw;
    }
    
    .hero .slider .swiper-slide .text h2{
        font-size: 0.6rem;
    }
    
    .hero .slider .swiper-slide .text h1{
        font-size: 1rem;
    }

    .hero .slider .swiper-slide .text p{
        font-size: 0.5rem;
    }

    .hero .slider .swiper-slide .text button.primary{
        font-size: 0.4rem;
        font-weight: 600;
        border-radius: 20px;
        padding: 0.3rem 0.4rem;

    }

    html.hydrated:root {
        --swiper-navigation-size: 20px;
    }

    /* .about{
        padding: 2em 1em 5em 1em;
    }

    .section_heading{
        font-size: 1.5rem;
    } */
    
    

}

/* 320px -- small mobile*/
@media(max-width: 20em) {
    .hero{
        margin: 0 0 -1vh 0;
    }
}