/* Hero Section Start*/

.hero{
    background-image: url("../static/hero_bg.png");
}

.hero{
    padding: 5px 5em 0 5em;
    height: 100vh;
    background-image: url("../static/hero_bg.png");
    background-image: url("../static/hero_bg.png"), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(230, 57, 57, 0.37), rgba(255, 255, 255, 0));
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .content{
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: start;
    justify-items: start;
}

.hero .content h2{
    font-weight: 400;
    font-size: 2.5vw;
    color: #5E5E5E;
}

.hero .content h1{
    font-weight: 500;
    font-size: 3.5vw;
    color: #5E5E5E;
    padding: 1% 0 3%;
}

.hero .content p{
    font-weight: 400;
    font-size: 100%;
    color: #5E5E5E;
}

.hero .content button.primary{
    margin-top: 5%;
    background-color: #C15690;
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 28px;
    padding: 1.5vh 2.5vw;
}

/* Hero Section End */

/* About Section Starts */

.about{
    padding: 5% 10em 0 10em;
    height: 180vh;
    background-color: #F2FBFE;
    z-index: 1;
}

.section_name{
    font-weight: 400;
    font-size: 100%;
    color: #5E5E5E;
    padding-bottom: 1%;

}

.section_heading{
    font-size: 3.5vw;
    font-weight: 400;
    color: #279089;
    padding-bottom: 4%;
}

/* table{
    border-color: #C15690;
    border-style: solid;
    
}

table tr{
    border: darkgoldenrod;
    border-style: dashed;
}

table tr td{
    border: rgb(32, 79, 233);
    border-style: dashed;
    
} */

.about table{
    position: relative;
    z-index: 1;
}

.full_row td img{
    height: 100%;
}

table tr td.elements{
    padding-top: 40px;
    padding-left: 30px;
}

p.big_text {
    font-size: 26px;
    font-weight: 300;
    padding-left: 30px;
}

p.medium_text{
    font-size: 22px;
    font-weight: 400;
}

table tr td.elements p.medium_text{
    padding-top: 7px;
    padding-bottom: 10px;
}

p.small_text{
    font-size: 16px;
    font-weight: 300;
}

.about .container{
    position: relative;
    background: white;
    padding: 2em;
    width: 30%;
    margin-left: -20px;
    margin-top: -200px;
    z-index: 2;
    box-shadow: 10px 10px 20px 0px rgba(201, 201, 201, 0.50);
}

.about .container .medium_text{
    color: #90278E;
}

.about .container .small_text{
    font-size: 14px;
}

.about .link{
    padding-top: 10px;
    float: right;
}

/* About Section Ends */