/* Fonts */

@font-face {
    font-family: Segoe UI;
    src: url(../Fonts/Segoe\ UI.woff) format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Segoe UI;
    src: url(../Fonts/Segoe\ UI\ Bold.woff) format("woff");
    font-style:normal;
    font-weight: bold;
}
@font-face {
    font-family: Segoe UI;
    src: url(../Fonts/Segoe\ UI\ Italic.woff) format("woff");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: Segoe UI;
    src: url(../Fonts/Segoe\ UI\ Bold\ Italic.woff) format("woff");
    font-style: italic;
    font-weight: bold;
}

/* Fonts */

/* Hero Section Start*/

.hero{
    background-image: url("../static/hero_bg.png");
}

.hero{
    padding: 5px 5em 0 5em;
    height: 100vh;
    background-image: url("../static/hero_bg.png");
    background-image: url("../static/hero_bg.png"), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(230, 57, 57, 0.37), rgba(255, 255, 255, 0));
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .content{
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: start;
    justify-items: start;
}

.hero .content h2{
    font-weight: 400;
    font-size: 2.5vw;
    color: #5E5E5E;
}

.hero .content h1{
    font-weight: 500;
    font-size: 3.5vw;
    color: #5E5E5E;
    padding: 1% 0 3%;
}

.hero .content p{
    font-weight: 400;
    font-size: 100%;
    color: #5E5E5E;
}

button.primary{
    margin-top: 5%;
    background-color: #C15690;
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 28px;
    padding: 1.5vh 2.5vw;
}

/* Hero Section End */

/* About Section Start */

.about{
    padding: 5% 10em 0 10em;
    height: 180vh;
    background-color: #F2FBFE;
    z-index: 1;
}

.section_name{
    font-weight: 400;
    font-size: 100%;
    color: #5E5E5E;
    padding-bottom: 1%;

}

.section_heading{
    font-size: 3.5vw;
    font-weight: 400;
    color: #279089;
    padding-bottom: 4%;
}

/* table{
    border-color: #C15690;
    border-style: solid;
    
}

table tr{
    border: darkgoldenrod;
    border-style: dashed;
}

table tr td{
    border: rgb(32, 79, 233);
    border-style: dashed;
    
} */

.about table{
    position: relative;
    z-index: 1;
}

.full_row td img{
    height: 100%;
}

table tr td.elements{
    padding-top: 40px;
    padding-left: 30px;
}

p.big_text {
    font-size: 26px;
    font-weight: 300;
    padding-left: 30px;
}

p.medium_text{
    font-size: 22px;
    font-weight: 400;
}

table tr td.elements p.medium_text{
    padding-top: 7px;
    padding-bottom: 10px;
}

p.small_text{
    font-size: 16px;
    font-weight: 300;
}

.about .container{
    position: relative;
    background: white;
    padding: 2em;
    width: 30%;
    margin-left: -20px;
    margin-top: -200px;
    z-index: 2;
    box-shadow: 10px 10px 20px 0px rgba(201, 201, 201, 0.50);
}

.about .container .medium_text{
    color: #90278E;
}

.about .container .small_text{
    font-size: 14px;
}

.about .link{
    padding-top: 10px;
    float: right;
}

/* About Section End */

/* Why Section Start */

.why{
    height: 100vh;
    position: relative;
    background: url(../static/index/why/learning-science.png) center / Cover;
    background-color: rgba(39, 144, 137,0.25);
    display: flex;
    /* display: inline-block; */
}

.why .left{
    position: sticky;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(0%, 30%);
    width: 35%;
    padding-left: 10%;
}

.why .left p.medium_text{
    color: white;
} 

.why .left p.big_text{
    color: white;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: capitalize;
} 

.why .left p.small_text{
    color: white;
} 

.why .right{
    width: 65%;
    padding-left: 10%;
    padding-top: 50px;
}

.why .right .count{
    font-weight: 900;
    font-size: 40px;
}

.why .right .count hr{
    border-width: 1px;
    border-color: gray;
    height: 2px;
    color: gray;
}




/* Why Section End */

/* Products Section Start */

.products{
    padding: 5% 8em 5% 8em;
    background-color: #F2FBFE;
}

.cards{
    padding-top: 1%;
    display: flex;
    justify-content: space-between;

    /* margin: 10px; */
}

.cards .card1, .cards .card2, .cards .card3{
    padding-left: 2%;
    padding-top: 2.5%;
    color: white;
    width: 33%;
    height: 37.5vh;

}

.cards .card1 .name, .cards .card2 .name, .cards .card3 .name{
    padding: 2% 0 2% 0;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: capitalize;
    
}

.cards .card1 .p, .cards .card2 .p, .cards .card3 .p{
    font-size: 14px;
}

.cards .card1{
    background-color: #FB714C;
}

.cards .card2{
    background-color: #079AC6;
}

.cards .card3{
    background-color: #3E4C69;
}

/* .cards .card3 img{
    height: 50%;
} */

.products .cards img{
    padding-right: 0;
    width: 12vw;
}

.banner{
    margin-top: 1%;
}

.products .banner img{
    width: 80vw;
}


/* Product Section End  */

/* Partners Section Start */

.partners{
    display: flex;
    justify-content: space-between;
    padding: 4vh 5vw 4vh;
}

.partners img{
    width: 12vw;
}

/* Partners Section End0 */

/* Hope section Start */

.hope{
    background: url(../static/index/Hope/daily-pills-health-treatment-with-copy-space.png) center / cover;
    height: 45vh;
    padding: 1% 10em 0 10em;
    display: flex;
    justify-content: space-between;
    justify-items: right;
    color: white;
}

.hope .space{
    width: 90vw;
}

.hope .left{
    padding-left: 30vw;
}

.hope .left .big_text{
    padding: 0;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    justify-content: flex-end;
    justify-items: left;
}

.hope .left .small_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.hope .right .big_text{
    padding: 0;
    font-size: 45px;
    font-weight: 600;
    color: #EBFFF9;
}

.hope .right .medium_text{
    color: #005D38;
}

.hope .right .small_text{
    color: #000000;
}

.hope .right .small_text{
    width: 40vw;
}

/* Hope section End */

/* /Covid Section Start */

.covid{
    height: min-content;
    background-color: #EBF8F2;
    display: flex;
    padding: 0%;
}

.covid .img img{
    width: 25vw;
    height: 44vh;
}

.covid .data{
    padding: 25px;
    width: 30vw;
}

.covid .data p.medium_text{
    color: #279089;
    font-size: 35px;
    padding-bottom: 10px;
}

.covid .cards{
    padding: 25px;
}

.covid .cards .card{
    background-color: white;
    height: 10vh;
    width: 25vw;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 8px 15px 0px rgba(201, 201, 201, 0.40);
}

.covid .cards .card img{
    width: 14%;
    height: 7vh;
    margin: 0 10px;
    border-radius: 2px;
}

/* /Covid Section End */

/* Careers Section Start */

.careers{
    padding: 5% 15em 5% 15em;
    background-color: #F0FEFF;
}

.careers .section_name{
    color: #279089;
    font-size: 20px;
    margin-top: -10vh;
}

.careers button.primary{
    margin-top: 10vh;
    cursor: pointer;
}

.careers .job td.data{
    padding-left: 2%;
    /* padding-right: 5em; */
    width: 50%;
}

.careers .job td.data p.small_text{
    font-size: 14px;
    font-weight: 200;
}

.careers .job td.data .section_heading{
    font-size: 40px;
}

.careers .job td.img img{
    /* width: 25vw; */
    height: 50vh;
    /* margin-left: 10vw; */
}

.careers .container{
    position: relative;
    background: white;
    padding: 2em;
    width: 60%;
    margin-left: 15vw;
    margin-top: -16vh;
    z-index: 2;
    box-shadow: 10px 10px 20px 0px rgba(201, 201, 201, 0.50);
}

.careers .container .medium_text{
    color: #90278E;
    padding-bottom: 10px;
}

.careers .container .small_text{
    font-size: 14px;
}

/* Careers Section End */

/* Contact Section Start */

.contact{

    display: flex;
    justify-content: start;
    background: url(../static/index/Contact/pharmacist-helping-woman-medicine-choice.png) center / cover;
    color: white;
    width: 100%;
    
}

.contact .overlay{
    background: rgba(78, 24, 77, 0.4);
    padding: 5% 15em 5% 15em;
}

.contact .table table .feild{
    width: 100%;
    margin-top: 10px;
    padding-left: 2.5%;
    height: 40px;
    font-weight: 300;
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 2.5px;
}

.contact .table table .feild2{
    width: 49%;
    margin-top: 10px;
    padding-left: 2.5%;
    padding-right: 3%;
    height: 40px;
    font-weight: 300;
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 2.5px;
}

.contact .table table .feild3{
    width: 100%;
    margin-top: 10px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    /* height: 40px; */
    font-weight: 300;
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 2.5px;
}

/* .contact .form{
    width: 50%;
    margin: 0;
}
.contact .info{
    width: 50%;
    margin-left: 50%;
    transform: translatey(-100%);
} */

.contact .overlay .table .big_text{
    padding: 0;
    font-weight: 500;
    font-size: 30px;
}

.contact .overlay .table .pad .big_text,
.contact .overlay .table .pad .small_text{
    padding-left: 50px;
}

.form_btn{
    margin-top: 5%;
    background-color: #90278E;
    color: white;
    font-weight: 500;
    border-style: none;
    border-radius: 28px;
    padding: 1.7vh 3vw;
    cursor: pointer;
}

/* Contact Section End */

/* Footer start */

footer{
    background-color: black;
}

footer .upper{
    padding: 5% 10em 0 10em;
    display: flex;
    justify-content: space-between;
}

footer .upper .details{
    color: white;
    padding-bottom: 3em;
}

footer .upper .details img{
    padding-bottom: 2em;
}

footer .upper .details .p{
    font-size: 14px;
    font-weight: 400;
}

footer .upper .quick ul li{
    padding-bottom: 30%;
}

footer .upper .quick ul li a{
    color: white;
    font-size: 18px;
}

footer .lower{
    padding: 1% 10em 2% 10em;
    display: flex;
    justify-content: space-between;
    color: white;
}

footer .lower .p{
    top: 40%;
}

/* Footer End */