:root{
    --ortho: #CAB3F1;
    --general: #B8D4E9;
    --dental: #AEDFBD;
    --vet: #F1C6B3;
}

body {
    background-color: #F2FBFE;
}

/* ====== Page Info ===== */

section.page_info {
    background: url(../static/contacts/doctor-holding-vaccine-icon-his-hand.png) center / cover;
    height: 20vh;
}

section.page_info .overlay {
    background: rgba(152, 224, 227, 0.7);
    height: inherit;
    display: flex;
    padding: 0 5em;
    justify-content: space-between;
    align-items: center;
}

section.page_info .overlay .page_name h1 {
    font-size: 5vh;
    font-weight: 500;
    letter-spacing: 2px;
}

section.page_info .overlay .breadcrumms {
    display: flex;
    justify-content: space-between;
}

section.page_info .overlay .breadcrumms p {
    padding-left: 1vw;
}

section.page_info .overlay .breadcrumms p.indicator {
    color: #707070;
}

section.page_info .overlay .breadcrumms p a {
    color: #161616;
}

/* 768px */
@media(max-width: 48em) {

    section.page_info .overlay {
        padding: 0 2rem;
    }
}


/* 512px */
@media(max-width: 32em) {

    section.page_info {
        height: 10vh;
    }

    section.page_info .overlay {
        padding: 0 1rem;
    }

    section.page_info .overlay .page_name h1 {
        font-size: 4vh;
        font-weight: 500;
        letter-spacing: 1px;
    }

    section.page_info .overlay .breadcrumms p {
        font-size: calc(100% - 20%);
    }
}

/* ===== Page Info ===== */


/* ===== Products Section ===== */

.products{
    max-width: 1200px;
    margin: 1rem auto;
    padding: 2rem 0 4rem;
    position: relative;
    z-index: 0;
}

.count{
    font-size: 1rem;
    color: #5E5E5E;
    margin-bottom: 1rem;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;

}

.product{
    background-color: white;
    width: fit-content;
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
}

/* === tag === */

.product .tag{
    position: relative;
    z-index: 1;
    width: fit-content;
    margin-left: -1.5rem;
}

.product .tag p{
    padding: 0.75rem 1.5rem;
}

.tag.ortho{
    background-color: var(--ortho);
}
.tag.general{
    background-color: var(--general);
}
.tag.dental{
    background-color: var(--dental);
}
.tag.vet{
    background-color: var(--vet);
}

/* === tag === */

.product img{
    position: relative;
    z-index: 0;
    transition: all 0.5s;
}

.product:hover img{
    transform: scale(1.1);

}



.product h3{
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 1.5rem;
}

.product p{
    position: relative;
    z-index: 1;
    padding: 0.5rem 0 1rem;
}

.product button{
    position: relative;
    z-index: 1;
    background-color: #C15690;
    color: white;
    font-size: 100%;
    font-weight: 500;
    border-style: none;
    border-radius: 4px;
    padding: 1.5vh 2.5vw;
    cursor: pointer;
    transition: all 0.3s;
}

.product button:hover{
    transform: scale(0.95);
}


/* ===== Products Section ===== */



/* ===== Products Section Responsive ===== */

/* 512px */
@media(max-width: 32em) {


    .products{
        max-width: 1200px;
        margin: 1rem auto;
        padding: 2rem 0 0 1rem;
    }

    .product-container{
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin: -2rem;
    }

    .product{
        margin-top: -5rem;
        transform: scale(0.8);
    }
    
    .product:first-child{
        margin-top: 0;
    }


}

/* ===== Products Section Responsive ===== */

/* ===== Products Popup Section ===== */

.product-info{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.product-card{
    display: none;
    width: 80%;
    background: white;
    border-radius: 5px;
    padding: 2rem 4rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
}

.product-card.active{
    display: inline-block;
}

.product-card .p-name{
    display: flex;
    justify-content: space-between;
}

.close-icon{
    transform: scale(2);
    color: #279089;
    transition: all 0.3s;
    margin-right: -1rem;
    margin-top: -0.5rem;
}

.close-icon:hover{
    transform: scale(2);
    color: #279089;
    transform: rotate(90deg);
}

.product-name{
    color: #832574;
    font-size: 1.4rem;
}

.product-card .wrapper{
    display: flex;
}

.product-card .data{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.product-card .data .images{
    display: flex; 
    gap: 1rem;
}

.product-card .images .choices{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-self: center;
}

.product-card .images .choices .choice{
    border: solid #EFEFEF;
    border-radius: 5px;
    background-color: #EFEFEF;
}

.product-card .images .choices .active{
    border: solid #279089;
}

.product-card .images .choices img{
    width: 5rem;
}

.product-card .images .main-img{
    display: flex;
    flex-direction: column;
}

.main-img .choice{
    display: none;
}

.main-img .choice.active{
    display: block;
}

.product-card .text{
    font-size: 1rem;
    color: #5E5E5E;
}

.form{
    background: #F2F4F5;
    min-width: 10rem;
    width: 50%;
    border-radius: 0.25rem;
}

.form .contact{
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    padding: 1rem;
}

.form .contact div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feild{
    width: 100%;
    margin-top: 10px;
    padding-left: 2.5%;
    height: 40px;
    font-weight: 300;
    background-color: white;
    border-style: none;
    border-radius: 2.5px;
}

.feild2{
    width: 49.5%;
    margin-top: 10px;
    padding-left: 2.5%;
    padding-right: 3%;
    height: 40px;
    font-weight: 300;
    background-color: white;
    border-style: none;
    border-radius: 2.5px;
}

.feild3{
    width: 100%;
    margin-top: 10px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    /* height: 40px; */
    font-weight: 300;
    background-color: white;
    border-style: none;
    border-radius: 2.5px;
}

.form_btn{
    margin-top: 3%;
    background-color: #C15690;
    color: white;
    font-size: 100%;
    font-weight: 500;
    border-style: none;
    border-radius: 4px;
    padding: 1.5vh 2.5vw;
    cursor: pointer;
    transition: all 0.3s;
}

/* 640px -- mobile*/
@media(max-width: 40em){

    .product-card{
        width: 95%;
        background: white;
        border-radius: 5px;
        padding: 1rem 2rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
    }

    .product-name{
        font-size: 1.2rem;
    }

    .product-card .wrapper{
        flex-direction: column;
        row-gap: 1rem;
    }

    .product-card .data{
        width: 100%;
        row-gap: 1rem;
    }

    .product-card .data .images{
        flex-direction: column-reverse;
        row-gap: 0.2rem;
    }

    .product-card .images .choices{
        flex-direction: row;
        gap: 0.5rem;
        align-self: center;
    }
    
    .form{
        width: 100%;
    }

    .feild2{
        width: 100%;
    }

    .form_btn{
        font-size: 1rem;
        font-weight: 400;
        border-radius: 4px;
        padding: 0.6rem 1.5rem;
    }

}

/* ===== Products Popup Section ===== */